In [38]:
import os
print(os.getcwd())
os.chdir('C:\\Users\\24917\\coding\\MH-GRAG')
print(os.getcwd())

C:\Users\24917\coding\MH-GRAG
C:\Users\24917\coding\MH-GRAG

In [39]:
import pandas as pd

entities_len1_df=pd.read_csv("export\multihop_rag\multihop_rag_entities_length_1.csv")
entities_len1_df

,entity_name,entity_type,description,id
0,49ers,ORGANIZATION,49ers is a football team,1
1,Barbarians,CONCEPT,a character class in the game,2
2,Bills,ORGANIZATION,The team that Allen plays for,3
3,Bolt Mobility,COMPANY,Bolt Mobility is introducing distance-based pr...,4
4,Crimson Tide,TEAM,Crimson Tide is the nickname of the Alabama fo...,5
...,...,...,...,...
19154,家庭自动化,CONCEPT,家庭自动化是指通过网络连接和控制家庭设备的技术。,23569
19155,昂贵的,CONCEPT,昂贵的是形容 soundbar 的形容词,23570
19156,智能扬声器,CONCEPT,智能扬声器是一种可以通过网络连接和控制的扬声器。,23571
19157,杜比 atmos,CONCEPT,杜比 atmos is a surround sound technology.,23572
19158,雅马哈,COMPANY,雅马哈是 soundbar 的制造商。,23573

In [40]:
import pandas as pd

entities_over1_df=pd.read_csv("C:\\Users\\24917\\coding\\MH-GRAG\\export\\multihop_rag\\new_df_with_llm_results.csv")
entities_over1_df

,entity_name,entity_type,description,id,llm_entity_type,llm_description
0,hiv,"('CONCEPT',)","{'Human Immunodeficiency Virus', ' hiv is the ...",36,NaN,"Human Immunodeficiency Virus, which causes AIDS."
1,marco gonzales,"('PERSON',)","{'Baseball player', 'The professional baseball...",44,NaN,"The professional baseball player, marco gonzales"
2,offseason,"('TIME',)",{'The offseason is the period of time between ...,56,NaN,The offseason is the time after the season.
3,$199.99,"('CONCEPT',)","{'$199.99 is a concept', '$199.99'}",88,NaN,$199.99 is a price point for an item or service.
4,0,"('NUMBER', 'TIME')","{'The number 0', '0 - 7. 00 6. 99 - 5. 01 5. 0...",92,NUMBER,"0 represents the number 0, and the range from ..."
...,...,...,...,...,...,...
4406,zoom,"('COMPANY',)","{'zoom', 'Zoom is a video communications platf...",23543,NaN,"zoom, Zoom is a video communications platform."
4407,zoom fatigue,"('CONCEPT',)","{'that being said, we know that constant feeli...",23544,NaN,Zoom fatigue refers to a level of exhaustion t...
4408,zylan cheatham,"('PERSON', 'PLAYER')",{'Zylan Cheatham is a professional basketball ...,23550,PLAYER,Zylan Cheatham is an American professional bas...
4409,“ hidden genius : the secret ways of thinking ...,"('CONCEPT', 'PRODUCT')",{'“ Hidden Genius: The Secret Ways of Thinking...,23557,CONCEPT,“Hidden Genius: The Secret Ways of Thinking Th...
4410,“ it ’ s what i do : a photographer ’ s life o...,"('CONCEPT', 'PRODUCT')",{'“ It’s What I Do: A Photographer’s Life of L...,23559,BOOK,A book by Lynsey Addario about her life as a w...

In [41]:
import re

# 定义一个函数来将字符串格式的元组或集合转换为实际的集合
def convert_to_set(value):
    if isinstance(value, str):
        # 去掉外面的括号或花括号，并按照逗号拆分元素
        # 对 entity_type 适用元组形式的格式处理
        if value.startswith("(") and value.endswith(")"):
            value = value[1:-1]  # 去掉括号
            return set([item.strip().strip("'").strip() for item in value.split(',')])
        # 对 description 适用花括号集合形式的格式处理
        elif value.startswith("{") and value.endswith("}"):
            value = value[1:-1]  # 去掉大括号
            return set([item.strip().strip("'").strip() for item in value.split(',')])
    return value

# 对 entity_type 列和 description 列应用该函数
entities_over1_df['entity_type'] = entities_over1_df['entity_type'].apply(convert_to_set)
entities_over1_df['description'] = entities_over1_df['description'].apply(convert_to_set)

# 查看转换后的数据框
entities_over1_df

,entity_name,entity_type,description,id,llm_entity_type,llm_description
0,hiv,"{, CONCEPT}","{hiv is the virus that causes AIDS., Human Imm...",36,NaN,"Human Immunodeficiency Virus, which causes AIDS."
1,marco gonzales,"{PERSON, }","{Baseball player, The professional baseball pl...",44,NaN,"The professional baseball player, marco gonzales"
2,offseason,"{, TIME}","{offseason is the time after the season, The o...",56,NaN,The offseason is the time after the season.
3,$199.99,"{, CONCEPT}","{$199.99, $199.99 is a concept}",88,NaN,$199.99 is a price point for an item or service.
4,0,"{NUMBER, TIME}","{0 - 7. 00 6. 99 - 5. 01 5. 00 - 0, The number...",92,NUMBER,"0 represents the number 0, and the range from ..."
...,...,...,...,...,...,...
4406,zoom,"{, COMPANY}","{zoom, Zoom is a video communications platform.}",23543,NaN,"zoom, Zoom is a video communications platform."
4407,zoom fatigue,"{, CONCEPT}","{, that being said, exhaustion and physical st...",23544,NaN,Zoom fatigue refers to a level of exhaustion t...
4408,zylan cheatham,"{PERSON, PLAYER}",{Zylan Cheatham is a professional basketball p...,23550,PLAYER,Zylan Cheatham is an American professional bas...
4409,“ hidden genius : the secret ways of thinking ...,"{CONCEPT, PRODUCT}",{“ Hidden Genius: The Secret Ways of Thinking ...,23557,CONCEPT,“Hidden Genius: The Secret Ways of Thinking Th...
4410,“ it ’ s what i do : a photographer ’ s life o...,"{CONCEPT, PRODUCT}","{” by Lynsey Addario is a concept., “ It’s Wha...",23559,BOOK,A book by Lynsey Addario about her life as a w...

In [43]:
# 定义一个函数来移除集合中的空字符串
def remove_empty_strings(value):
    if isinstance(value, set):
        # 使用 set comprehension 去除空字符串
        return {item for item in value if item}
    return value

# 对 entity_type 和 description 列应用该函数
entities_over1_df['entity_type'] = entities_over1_df['entity_type'].apply(remove_empty_strings)
entities_over1_df['description'] = entities_over1_df['description'].apply(remove_empty_strings)

entities_over1_df

,entity_name,entity_type,description,id,llm_entity_type,llm_description
0,hiv,{CONCEPT},"{hiv is the virus that causes AIDS., Human Imm...",36,NaN,"Human Immunodeficiency Virus, which causes AIDS."
1,marco gonzales,{PERSON},"{Baseball player, The professional baseball pl...",44,NaN,"The professional baseball player, marco gonzales"
2,offseason,{TIME},"{offseason is the time after the season, The o...",56,NaN,The offseason is the time after the season.
3,$199.99,{CONCEPT},"{$199.99, $199.99 is a concept}",88,NaN,$199.99 is a price point for an item or service.
4,0,"{NUMBER, TIME}","{0 - 7. 00 6. 99 - 5. 01 5. 00 - 0, The number...",92,NUMBER,"0 represents the number 0, and the range from ..."
...,...,...,...,...,...,...
4406,zoom,{COMPANY},"{zoom, Zoom is a video communications platform.}",23543,NaN,"zoom, Zoom is a video communications platform."
4407,zoom fatigue,{CONCEPT},"{that being said, The term refers to a level o...",23544,NaN,Zoom fatigue refers to a level of exhaustion t...
4408,zylan cheatham,"{PERSON, PLAYER}",{Zylan Cheatham is a professional basketball p...,23550,PLAYER,Zylan Cheatham is an American professional bas...
4409,“ hidden genius : the secret ways of thinking ...,"{CONCEPT, PRODUCT}",{“ Hidden Genius: The Secret Ways of Thinking ...,23557,CONCEPT,“Hidden Genius: The Secret Ways of Thinking Th...
4410,“ it ’ s what i do : a photographer ’ s life o...,"{CONCEPT, PRODUCT}","{” by Lynsey Addario is a concept., “ It’s Wha...",23559,BOOK,A book by Lynsey Addario about her life as a w...

In [44]:
# Define a function to print the lengths of each entity_type and description
def print_lengths(df):
    for index, row in df.iterrows():
        entity_type_len = len(row['entity_type']) if isinstance(row['entity_type'], set) else 0
        description_len = len(row['description']) if isinstance(row['description'], set) else 0
        print(f"Row {index}: entity_type length = {entity_type_len}, description length = {description_len}")

# Print lengths of entity_type and description
print_lengths(entities_over1_df[['entity_type', 'description']])

Row 0: entity_type length = 1, description length = 2
Row 1: entity_type length = 1, description length = 2
Row 2: entity_type length = 1, description length = 2
Row 3: entity_type length = 1, description length = 2
Row 4: entity_type length = 2, description length = 3
Row 5: entity_type length = 2, description length = 2
Row 6: entity_type length = 1, description length = 7
Row 7: entity_type length = 2, description length = 2
Row 8: entity_type length = 1, description length = 6
Row 9: entity_type length = 1, description length = 8
Row 10: entity_type length = 2, description length = 3
Row 11: entity_type length = 1, description length = 2
Row 12: entity_type length = 1, description length = 2
Row 13: entity_type length = 1, description length = 4
Row 14: entity_type length = 1, description length = 2
Row 15: entity_type length = 1, description length = 2
Row 16: entity_type length = 1, description length = 2
Row 17: entity_type length = 1, description length = 2
Row 18: entity_type length = 1, description length = 2
Row 19: entity_type length = 1, description length = 2
Row 20: entity_type length = 1, description length = 3
Row 21: entity_type length = 1, description length = 2
Row 22: entity_type length = 2, description length = 3
Row 23: entity_type length = 3, description length = 3
Row 24: entity_type length = 1, description length = 3
Row 25: entity_type length = 1, description length = 3
Row 26: entity_type length = 2, description length = 1
Row 27: entity_type length = 2, description length = 2
Row 28: entity_type length = 2, description length = 2
Row 29: entity_type length = 2, description length = 3
Row 30: entity_type length = 2, description length = 2
Row 31: entity_type length = 1, description length = 2
Row 32: entity_type length = 1, description length = 3
Row 33: entity_type length = 2, description length = 2
Row 34: entity_type length = 2, description length = 2
Row 35: entity_type length = 2, description length = 7
Row 36: entity_type length = 2, description length = 3
Row 37: entity_type length = 2, description length = 2
Row 38: entity_type length = 2, description length = 1
Row 39: entity_type length = 2, description length = 1
Row 40: entity_type length = 2, description length = 2
Row 41: entity_type length = 2, description length = 3
Row 42: entity_type length = 2, description length = 3
Row 43: entity_type length = 1, description length = 4
Row 44: entity_type length = 1, description length = 3
Row 45: entity_type length = 1, description length = 2
Row 46: entity_type length = 1, description length = 2
Row 47: entity_type length = 1, description length = 2
Row 48: entity_type length = 2, description length = 2
Row 49: entity_type length = 3, description length = 4
Row 50: entity_type length = 1, description length = 2
Row 51: entity_type length = 2, description length = 2
Row 52: entity_type length = 1, description length = 6
Row 53: entity_type length = 1, description length = 3
Row 54: entity_type length = 1, description length = 2
Row 55: entity_type length = 2, description length = 2
Row 56: entity_type length = 3, description length = 10
Row 57: entity_type length = 2, description length = 6
Row 58: entity_type length = 2, description length = 3
Row 59: entity_type length = 2, description length = 9
Row 60: entity_type length = 3, description length = 7
Row 61: entity_type length = 4, description length = 15
Row 62: entity_type length = 1, description length = 2
Row 63: entity_type length = 4, description length = 25
Row 64: entity_type length = 1, description length = 4
Row 65: entity_type length = 1, description length = 2
Row 66: entity_type length = 1, description length = 2
Row 67: entity_type length = 1, description length = 2
Row 68: entity_type length = 3, description length = 15
Row 69: entity_type length = 1, description length = 4
Row 70: entity_type length = 1, description length = 4
Row 71: entity_type length = 2, description length = 2
Row 72: entity_type length = 2, description length = 3
Row 73: entity_type length = 2, description length = 2
Row 74: entity_type length = 3, description length = 4
Row 75: entity_type length = 2, description length = 2
Row 76: entity_type length = 2, description length = 2
Row 77: entity_type length = 2, description length = 1
Row 78: entity_type length = 2, description length = 1
Row 79: entity_type length = 2, description length = 2
Row 80: entity_type length = 2, description length = 4
Row 81: entity_type length = 2, description length = 2
Row 82: entity_type length = 2, description length = 2
Row 83: entity_type length = 1, description length = 2
Row 84: entity_type length = 2, description length = 4
Row 85: entity_type length = 2, description length = 2
Row 86: entity_type length = 2, description length = 2
Row 87: entity_type length = 2, description length = 3
Row 88: entity_type length = 7, description length = 65
Row 89: entity_type length = 4, description length = 4
Row 90: entity_type length = 1, description length = 2
Row 91: entity_type length = 1, description length = 2
Row 92: entity_type length = 1, description length = 2
Row 93: entity_type length = 1, description length = 2
Row 94: entity_type length = 2, description length = 2
Row 95: entity_type length = 1, description length = 2
Row 96: entity_type length = 3, description length = 3
Row 97: entity_type length = 2, description length = 2
Row 98: entity_type length = 3, description length = 4
Row 99: entity_type length = 1, description length = 5
Row 100: entity_type length = 1, description length = 3
Row 101: entity_type length = 1, description length = 3
Row 102: entity_type length = 1, description length = 2
Row 103: entity_type length = 1, description length = 3
Row 104: entity_type length = 1, description length = 2
Row 105: entity_type length = 1, description length = 2
Row 106: entity_type length = 1, description length = 3
Row 107: entity_type length = 1, description length = 2
Row 108: entity_type length = 1, description length = 2
Row 109: entity_type length = 1, description length = 2
Row 110: entity_type length = 1, description length = 22
Row 111: entity_type length = 1, description length = 2
Row 112: entity_type length = 1, description length = 2
Row 113: entity_type length = 1, description length = 2
Row 114: entity_type length = 1, description length = 2
Row 115: entity_type length = 1, description length = 2
Row 116: entity_type length = 1, description length = 2
Row 117: entity_type length = 1, description length = 2
Row 118: entity_type length = 1, description length = 4
Row 119: entity_type length = 1, description length = 3
Row 120: entity_type length = 1, description length = 2
Row 121: entity_type length = 4, description length = 7
Row 122: entity_type length = 1, description length = 2
Row 123: entity_type length = 1, description length = 3
Row 124: entity_type length = 1, description length = 2
Row 125: entity_type length = 1, description length = 2
Row 126: entity_type length = 1, description length = 3
Row 127: entity_type length = 1, description length = 2
Row 128: entity_type length = 1, description length = 2
Row 129: entity_type length = 1, description length = 2
Row 130: entity_type length = 1, description length = 2
Row 131: entity_type length = 1, description length = 3
Row 132: entity_type length = 3, description length = 5
Row 133: entity_type length = 1, description length = 2
Row 134: entity_type length = 1, description length = 2
Row 135: entity_type length = 1, description length = 6
Row 136: entity_type length = 3, description length = 12
Row 137: entity_type length = 2, description length = 2
Row 138: entity_type length = 1, description length = 5
Row 139: entity_type length = 1, description length = 8
Row 140: entity_type length = 2, description length = 2
Row 141: entity_type length = 1, description length = 2
Row 142: entity_type length = 1, description length = 2
Row 143: entity_type length = 1, description length = 4
Row 144: entity_type length = 1, description length = 2
Row 145: entity_type length = 1, description length = 11
Row 146: entity_type length = 2, description length = 4
Row 147: entity_type length = 1, description length = 2
Row 148: entity_type length = 1, description length = 9
Row 149: entity_type length = 2, description length = 2
Row 150: entity_type length = 2, description length = 2
Row 151: entity_type length = 1, description length = 3
Row 152: entity_type length = 1, description length = 3
Row 153: entity_type length = 1, description length = 3
Row 154: entity_type length = 2, description length = 2
Row 155: entity_type length = 1, description length = 2
Row 156: entity_type length = 1, description length = 3
Row 157: entity_type length = 1, description length = 2
Row 158: entity_type length = 1, description length = 6
Row 159: entity_type length = 1, description length = 2
Row 160: entity_type length = 1, description length = 2
Row 161: entity_type length = 1, description length = 3
Row 162: entity_type length = 2, description length = 3
Row 163: entity_type length = 3, description length = 7
Row 164: entity_type length = 2, description length = 12
Row 165: entity_type length = 1, description length = 2
Row 166: entity_type length = 1, description length = 2
Row 167: entity_type length = 1, description length = 2
Row 168: entity_type length = 1, description length = 2
Row 169: entity_type length = 1, description length = 2
Row 170: entity_type length = 3, description length = 10
Row 171: entity_type length = 1, description length = 3
Row 172: entity_type length = 1, description length = 3
Row 173: entity_type length = 1, description length = 8
Row 174: entity_type length = 2, description length = 8
Row 175: entity_type length = 1, description length = 3
Row 176: entity_type length = 2, description length = 4
Row 177: entity_type length = 1, description length = 6
Row 178: entity_type length = 1, description length = 7
Row 179: entity_type length = 1, description length = 3
Row 180: entity_type length = 1, description length = 3
Row 181: entity_type length = 1, description length = 9
Row 182: entity_type length = 2, description length = 7
Row 183: entity_type length = 1, description length = 2
Row 184: entity_type length = 1, description length = 2
Row 185: entity_type length = 6, description length = 88
Row 186: entity_type length = 1, description length = 2
Row 187: entity_type length = 2, description length = 3
Row 188: entity_type length = 2, description length = 15
Row 189: entity_type length = 1, description length = 2
Row 190: entity_type length = 2, description length = 5
Row 191: entity_type length = 1, description length = 6
Row 192: entity_type length = 1, description length = 4
Row 193: entity_type length = 2, description length = 5
Row 194: entity_type length = 1, description length = 2
Row 195: entity_type length = 1, description length = 2
Row 196: entity_type length = 1, description length = 2
Row 197: entity_type length = 2, description length = 2
Row 198: entity_type length = 1, description length = 3
Row 199: entity_type length = 1, description length = 3
Row 200: entity_type length = 1, description length = 2
Row 201: entity_type length = 1, description length = 3
Row 202: entity_type length = 1, description length = 2
Row 203: entity_type length = 1, description length = 2
Row 204: entity_type length = 1, description length = 2
Row 205: entity_type length = 1, description length = 2
Row 206: entity_type length = 1, description length = 2
Row 207: entity_type length = 5, description length = 6
Row 208: entity_type length = 2, description length = 2
Row 209: entity_type length = 1, description length = 4
Row 210: entity_type length = 1, description length = 3
Row 211: entity_type length = 1, description length = 4
Row 212: entity_type length = 1, description length = 2
Row 213: entity_type length = 2, description length = 5
Row 214: entity_type length = 1, description length = 2
Row 215: entity_type length = 2, description length = 88
Row 216: entity_type length = 1, description length = 2
Row 217: entity_type length = 1, description length = 10
Row 218: entity_type length = 2, description length = 3
Row 219: entity_type length = 1, description length = 4
Row 220: entity_type length = 2, description length = 4
Row 221: entity_type length = 2, description length = 6
Row 222: entity_type length = 1, description length = 4
Row 223: entity_type length = 1, description length = 2
Row 224: entity_type length = 1, description length = 6
Row 225: entity_type length = 2, description length = 2
Row 226: entity_type length = 1, description length = 2
Row 227: entity_type length = 3, description length = 8
Row 228: entity_type length = 3, description length = 3
Row 229: entity_type length = 2, description length = 10
Row 230: entity_type length = 3, description length = 6
Row 231: entity_type length = 3, description length = 7
Row 232: entity_type length = 1, description length = 2
Row 233: entity_type length = 2, description length = 2
Row 234: entity_type length = 2, description length = 6
Row 235: entity_type length = 1, description length = 11
Row 236: entity_type length = 1, description length = 2
Row 237: entity_type length = 1, description length = 3
Row 238: entity_type length = 1, description length = 5
Row 239: entity_type length = 2, description length = 10
Row 240: entity_type length = 2, description length = 3
Row 241: entity_type length = 3, description length = 8
Row 242: entity_type length = 1, description length = 2
Row 243: entity_type length = 1, description length = 7
Row 244: entity_type length = 1, description length = 5
Row 245: entity_type length = 1, description length = 2
Row 246: entity_type length = 1, description length = 2
Row 247: entity_type length = 2, description length = 3
Row 248: entity_type length = 5, description length = 9
Row 249: entity_type length = 2, description length = 3
Row 250: entity_type length = 2, description length = 5
Row 251: entity_type length = 2, description length = 3
Row 252: entity_type length = 4, description length = 11
Row 253: entity_type length = 3, description length = 4
Row 254: entity_type length = 1, description length = 2
Row 255: entity_type length = 2, description length = 2
Row 256: entity_type length = 1, description length = 2
Row 257: entity_type length = 2, description length = 4
Row 258: entity_type length = 1, description length = 2
Row 259: entity_type length = 1, description length = 6
Row 260: entity_type length = 2, description length = 3
Row 261: entity_type length = 1, description length = 6
Row 262: entity_type length = 3, description length = 23
Row 263: entity_type length = 2, description length = 3
Row 264: entity_type length = 3, description length = 5
Row 265: entity_type length = 1, description length = 7
Row 266: entity_type length = 1, description length = 6
Row 267: entity_type length = 2, description length = 2
Row 268: entity_type length = 1, description length = 3
Row 269: entity_type length = 1, description length = 2
Row 270: entity_type length = 1, description length = 4
Row 271: entity_type length = 1, description length = 5
Row 272: entity_type length = 1, description length = 2
Row 273: entity_type length = 2, description length = 4
Row 274: entity_type length = 1, description length = 2
Row 275: entity_type length = 1, description length = 3
Row 276: entity_type length = 1, description length = 3
Row 277: entity_type length = 4, description length = 15
Row 278: entity_type length = 1, description length = 3
Row 279: entity_type length = 2, description length = 4
Row 280: entity_type length = 1, description length = 25
Row 281: entity_type length = 4, description length = 6
Row 282: entity_type length = 4, description length = 5
Row 283: entity_type length = 1, description length = 2
Row 284: entity_type length = 1, description length = 2
Row 285: entity_type length = 2, description length = 2
Row 286: entity_type length = 4, description length = 10
Row 287: entity_type length = 1, description length = 2
Row 288: entity_type length = 4, description length = 14
Row 289: entity_type length = 2, description length = 3
Row 290: entity_type length = 1, description length = 4
Row 291: entity_type length = 2, description length = 2
Row 292: entity_type length = 2, description length = 1
Row 293: entity_type length = 1, description length = 2
Row 294: entity_type length = 1, description length = 2
Row 295: entity_type length = 1, description length = 5
Row 296: entity_type length = 5, description length = 5
Row 297: entity_type length = 1, description length = 3
Row 298: entity_type length = 1, description length = 4
Row 299: entity_type length = 2, description length = 3
Row 300: entity_type length = 1, description length = 2
Row 301: entity_type length = 1, description length = 2
Row 302: entity_type length = 4, description length = 11
Row 303: entity_type length = 1, description length = 2
Row 304: entity_type length = 3, description length = 37
Row 305: entity_type length = 1, description length = 2
Row 306: entity_type length = 1, description length = 7
Row 307: entity_type length = 1, description length = 5
Row 308: entity_type length = 1, description length = 2
Row 309: entity_type length = 1, description length = 4
Row 310: entity_type length = 1, description length = 3
Row 311: entity_type length = 2, description length = 3
Row 312: entity_type length = 2, description length = 7
Row 313: entity_type length = 3, description length = 9
Row 314: entity_type length = 1, description length = 2
Row 315: entity_type length = 1, description length = 2
Row 316: entity_type length = 1, description length = 2
Row 317: entity_type length = 1, description length = 2
Row 318: entity_type length = 4, description length = 9
Row 319: entity_type length = 1, description length = 6
Row 320: entity_type length = 3, description length = 3
Row 321: entity_type length = 1, description length = 3
Row 322: entity_type length = 1, description length = 3
Row 323: entity_type length = 2, description length = 21
Row 324: entity_type length = 2, description length = 2
Row 325: entity_type length = 1, description length = 5
Row 326: entity_type length = 1, description length = 3
Row 327: entity_type length = 1, description length = 10
Row 328: entity_type length = 1, description length = 2
Row 329: entity_type length = 1, description length = 2
Row 330: entity_type length = 2, description length = 2
Row 331: entity_type length = 1, description length = 3
Row 332: entity_type length = 1, description length = 7
Row 333: entity_type length = 1, description length = 2
Row 334: entity_type length = 1, description length = 3
Row 335: entity_type length = 2, description length = 2
Row 336: entity_type length = 2, description length = 2
Row 337: entity_type length = 1, description length = 2
Row 338: entity_type length = 1, description length = 2
Row 339: entity_type length = 2, description length = 1
Row 340: entity_type length = 1, description length = 2
Row 341: entity_type length = 1, description length = 6
Row 342: entity_type length = 2, description length = 3
Row 343: entity_type length = 1, description length = 2
Row 344: entity_type length = 1, description length = 3
Row 345: entity_type length = 2, description length = 7
Row 346: entity_type length = 3, description length = 5
Row 347: entity_type length = 1, description length = 2
Row 348: entity_type length = 1, description length = 2
Row 349: entity_type length = 1, description length = 2
Row 350: entity_type length = 2, description length = 5
Row 351: entity_type length = 1, description length = 2
Row 352: entity_type length = 3, description length = 3
Row 353: entity_type length = 1, description length = 5
Row 354: entity_type length = 1, description length = 2
Row 355: entity_type length = 2, description length = 3
Row 356: entity_type length = 1, description length = 3
Row 357: entity_type length = 1, description length = 2

In [45]:
# 复制原数据框以确保不操作原数据
entities_modified_df = entities_over1_df.copy()

# 定义一个函数来处理 entity_type 列
def process_entity_type(row):
    entity_type = row['entity_type']
    llm_entity_type = row['llm_entity_type']
    
    if isinstance(entity_type, set):
        if len(entity_type) > 1 and llm_entity_type:
            return llm_entity_type  # 使用 llm_entity_type 替代
        elif len(entity_type) == 1:
            return next(iter(entity_type))  # 取出唯一的内容
        else:
            return ""  # 长度为0，设置为空
    return entity_type

# 定义一个函数来处理 description 列
def process_description(row):
    description = row['description']
    llm_description = row['llm_description']
    
    if isinstance(description, set):
        if len(description) > 1 and llm_description:
            return llm_description  # 使用 llm_description 替代
        elif len(description) == 1:
            return next(iter(description))  # 取出唯一的内容
        else:
            return ""  # 长度为0，设置为空
    return description

# 应用到新的数据框上
entities_modified_df['entity_type'] = entities_modified_df.apply(process_entity_type, axis=1)
entities_modified_df['description'] = entities_modified_df.apply(process_description, axis=1)

entities_modified_df

,entity_name,entity_type,description,id,llm_entity_type,llm_description
0,hiv,CONCEPT,"Human Immunodeficiency Virus, which causes AIDS.",36,NaN,"Human Immunodeficiency Virus, which causes AIDS."
1,marco gonzales,PERSON,"The professional baseball player, marco gonzales",44,NaN,"The professional baseball player, marco gonzales"
2,offseason,TIME,The offseason is the time after the season.,56,NaN,The offseason is the time after the season.
3,$199.99,CONCEPT,$199.99 is a price point for an item or service.,88,NaN,$199.99 is a price point for an item or service.
4,0,NUMBER,"0 represents the number 0, and the range from ...",92,NUMBER,"0 represents the number 0, and the range from ..."
...,...,...,...,...,...,...
4406,zoom,COMPANY,"zoom, Zoom is a video communications platform.",23543,NaN,"zoom, Zoom is a video communications platform."
4407,zoom fatigue,CONCEPT,Zoom fatigue refers to a level of exhaustion t...,23544,NaN,Zoom fatigue refers to a level of exhaustion t...
4408,zylan cheatham,PLAYER,Zylan Cheatham is an American professional bas...,23550,PLAYER,Zylan Cheatham is an American professional bas...
4409,“ hidden genius : the secret ways of thinking ...,CONCEPT,“Hidden Genius: The Secret Ways of Thinking Th...,23557,CONCEPT,“Hidden Genius: The Secret Ways of Thinking Th...
4410,“ it ’ s what i do : a photographer ’ s life o...,BOOK,A book by Lynsey Addario about her life as a w...,23559,BOOK,A book by Lynsey Addario about her life as a w...

In [48]:
entities_modified_df[['entity_name', 'entity_type', 'description', 'id']].to_csv("temp_1.csv",index=False)

In [50]:
import pandas as pd

# 假设 entities_len1_df 和 entities_modified_df 的列相同
combined_df = pd.concat([entities_len1_df, entities_modified_df[['entity_name', 'entity_type', 'description', 'id']]], ignore_index=True)

# 查看合并后的数据框
combined_df

,entity_name,entity_type,description,id
0,49ers,ORGANIZATION,49ers is a football team,1
1,Barbarians,CONCEPT,a character class in the game,2
2,Bills,ORGANIZATION,The team that Allen plays for,3
3,Bolt Mobility,COMPANY,Bolt Mobility is introducing distance-based pr...,4
4,Crimson Tide,TEAM,Crimson Tide is the nickname of the Alabama fo...,5
...,...,...,...,...
23565,zoom,COMPANY,"zoom, Zoom is a video communications platform.",23543
23566,zoom fatigue,CONCEPT,Zoom fatigue refers to a level of exhaustion t...,23544
23567,zylan cheatham,PLAYER,Zylan Cheatham is an American professional bas...,23550
23568,“ hidden genius : the secret ways of thinking ...,CONCEPT,“Hidden Genius: The Secret Ways of Thinking Th...,23557
23569,“ it ’ s what i do : a photographer ’ s life o...,BOOK,A book by Lynsey Addario about her life as a w...,23559

In [51]:
# 根据 id 列对 combined_df 进行排序
combined_df_sorted = combined_df.sort_values(by='id', ascending=True)

# 重置索引（可选），使索引变为有序
combined_df_sorted = combined_df_sorted.reset_index(drop=True)

# 查看排序后的数据框
combined_df_sorted

,entity_name,entity_type,description,id
0,49ers,ORGANIZATION,49ers is a football team,1
1,Barbarians,CONCEPT,a character class in the game,2
2,Bills,ORGANIZATION,The team that Allen plays for,3
3,Bolt Mobility,COMPANY,Bolt Mobility is introducing distance-based pr...,4
4,Crimson Tide,TEAM,Crimson Tide is the nickname of the Alabama fo...,5
...,...,...,...,...
23565,家庭自动化,CONCEPT,家庭自动化是指通过网络连接和控制家庭设备的技术。,23569
23566,昂贵的,CONCEPT,昂贵的是形容 soundbar 的形容词,23570
23567,智能扬声器,CONCEPT,智能扬声器是一种可以通过网络连接和控制的扬声器。,23571
23568,杜比 atmos,CONCEPT,杜比 atmos is a surround sound technology.,23572
23569,雅马哈,COMPANY,雅马哈是 soundbar 的制造商。,23573

In [52]:
# 检查 id 列是否唯一
is_unique = combined_df_sorted['id'].is_unique

# 输出结果
if is_unique:
    print("The 'id' column is unique.")
else:
    print("The 'id' column contains duplicate values.")

The 'id' column is unique.

# 最终结果

In [53]:
combined_df_sorted.to_csv("multihop_rag_final_entites.csv",index=False)

# 数据观察

In [64]:
import pandas as pd

final_entites=pd.read_csv("multihop_rag_final_entites.csv")

In [65]:
# 设置pandas显示选项，增加最大列宽度
pd.set_option('display.max_colwidth', 200)  # 将200替换为你想要的长度
# 筛选 entity_name 长度小于30且 description 长度大于150 的行
filtered_df = final_entites[
    (final_entites['entity_name'].str.len() < 30) & 
    (final_entites['entity_name'].str.len() > 10) & 
    (final_entites['description'].str.len() > 50)
]

# 查看筛选后的数据框
filtered_df.head(10)

,entity_name,entity_type,description,id
3,Bolt Mobility,COMPANY,Bolt Mobility is introducing distance-based pricing,4
4,Crimson Tide,TEAM,Crimson Tide is the nickname of the Alabama football team,5
6,Lamar Jackson,PERSON,Lamar Jackson is a quarterback for the Baltimore Ravens.,7
8,Quarter - Final,CONCEPT,The quarter - final is the stage of a tournament where the four winning teams from the group stage compete to advance to the semi - final,9
15,audible audiobooks,PRODUCT,The Kindle Oasis supports audible audiobooks via bluetooth.,16
22,cranberries,PRODUCT,Marcus Urann introduced a way to put cranberries in a can in 1912. Cranberries are one of the few fruits native to the northern United States.,23
26,ezekiel elliott,PLAYER,Ezekiel Elliott is an American football running back for the Dallas Cowboys of the National Football League.,27
28,folklore and evermore albums,ALBUM,folklore and evermore albums are the tenth and eleventh studio albums by Taylor Swift.,29
31,gm meetings,EVENT,The GM meetings are an annual gathering of general managers from Major League Baseball teams.,32
36,hiv - positive,CONCEPT,hiv - positive refers to people who have been diagnosed with HIV.,37